body {
    padding:0px;
    margin:0px;
    font-size:13px;
    font-family:Georgia, serif;
}

.text-input {
    border:1px solid;
}
.submit-button {
    background-color:#CCCC33;
    border:1px solid;
}

.form-table th, .form-table td {
    padding:2px;
}
.form-table th {
    text-align:right;
    font-weight:normal;
}

.tips-message {
    color:#CC6600;
    font-weight:bold;
}